<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Temp</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="javascripts/flot/examples/examples.css" rel="stylesheet" type="text/css">
    <script  type="text/javascript" src="javascripts/flot/jquery.js"></script>
    <script  type="text/javascript" src="javascripts/flot/jquery.flot.js"></script>
    <script  type="text/javascript" src="javascripts/flot/jquery.flot.time.js"></script>
    <script  type="text/javascript" src="javascripts/flot/jquery.flot.resize.js"></script>
    <script  type="text/javascript" src="javascripts/date.js"></script>
</head>
<body>
<div id="placeholder" style="width: 100%; height: 100%"></div>
<script>


    var series = [];
    var placeholder = $("#placeholder");
    var options = {
        series: {
            lines: {
                show: true
            },
            points: {
                show: false
            }
        },
        grid: {
            hoverable: true,
            clickable: true
        },
        xaxis: {
            mode: "time",
            minTickSize: [1, "hour"],
            twelveHourClock: true
        }
    };
    $.plot("#placeholder", series, options);
    function dataHasValues(data) {
        return data != null && data.values != null;
    }
    function plot() {
        $.getJSON("/tempsPI",function (data) {
            if(!dataHasValues(data)){
                return;
            }
            series[0]=(
                    {
                        data: data.values,
                        label: "Raspbian",
                        color: "rgba(99, 194, 30,1)"

                    }
            );
            $.plot("#placeholder", series, options);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("Pi not available");
        });
        $.getJSON("/tempsXBMC",function (data) {
            if(!dataHasValues(data)){
                return;
            }
            series[1]=(
                    {
                        data: data.values,
                        label: "XBMC",
                        color: "rgba(99, 20, 30,1)"

                    }
            );
            $.plot("#placeholder", series, options);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("XBMC not available");
        });
    }
    $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80
    }).appendTo("body");

    $("#placeholder").bind("plothover", function (event, pos, item) {

            if (item) {
                var x = item.datapoint[0],
                        y = item.datapoint[1].toFixed(2);

                $("#tooltip").html(item.series.label + " Temp  at " + new Date(x).toString("HH:mm")  + " = " + y +"°C")
                        .css({top: item.pageY+5, left: item.pageX+5})
                        .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
    });

    plot();
    setInterval(plot, 60000);


</script>
</body>
</html>
